<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading small-site-title">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list footer-content">
          <li>Theme: <a href="http://github.com/hemangsk/Gravity">Gravity</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2 footer-content">
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="alejandro-erickson-33777520"><a class="LI-simple-link" href='https://uk.linkedin.com/in/alejandro-erickson-33777520?trk=profile-badge'>Alejandro Erickson</a></div>
      </div>
    </div>
  </div>
</footer>
